mixin search-result-container(containerName, isHidden)
  div(id=containerName class=`tab ${isHidden ? 'hidden': ''}`)
    div(class="sub-placeholder" id=`${containerName}-placeholder`)
      p No matching Result
    div(id=`${containerName}-based-cards` class="cards")

mixin tab(tabName, isSelected)
  li(id=`tab-${tabName}` class=`tab-name ${isSelected ? 'selected-tab' : ''}`)
    span(id=`${tabName}-based-count`)
html
  head
    title searchPage
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400&display=swap")
    link(rel="stylesheet", href="/css/navbar.css")
    link(rel="stylesheet", href="/css/searchPage.css")
    link(rel="stylesheet", href="/css/common.css")
    //- link(rel="stylesheet", href="/css/profile.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js")
    script(src="/js/tabs.js")
    script(src="/js/search.js")
  body
    include navbar
    div(class="main-container")
      div(class="search-bar-container")
        input(type="search" placeholder="search here..." id="search-bar" class="search-bar" onKeypress="search()")
      div(class="main-placeholder" id="search-placeholder")
        img(src="/images/search-icon.png", alt="" class="search-icon")
        p No active search results....
      div(class="sub-container hidden" id="search-result")
        ul(class="tabs")
          +tab('author', true)
          +tab('tag', false)
          +tab('content', false)
        +search-result-container('author', false)
        +search-result-container('tag', true)
        +search-result-container('content', true)