html
  head
    title Your Stories
    link(rel="stylesheet", href="css/stories.css")
    link(rel="stylesheet", href="css/navbar.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400&display=swap")
    script(src="js/stories.js")
    script(src="js/publish.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js")
  body
    include navbar
    div(class="container")
      div(class="stories")
        h1(class="stories-title") Your Stories
        div(class="tabs")
          ul
            li(id="tab-drafts" class="tab-name selected-tab")=`Drafts ${drafts.length || ''}`
            li(id="tab-published" class="tab-name")=`Published ${published.length || ''}`
        div(id="drafts" class="tab")
          each draft in drafts
            div(class="story")
              div
                div(class="story-title-container")
                  h2(class="story-title")=draft.title || 'Untitled story'
                  button(class="publish-button" id=`publish-${draft.id}`) Publish
                if draft.content.length
                  p(class="story-summary")=`${draft.content[0].data.text.slice(0, 50)}...`
                p(class="story-last-edited")=`Last edited ${moment(draft.last_modified).startOf('min').fromNow()}`
        div(id="published" class="hidden tab")
          each publishedStory in published
            a(href=`/story/${publishedStory.id}`)
              div(class="story")
               div
                 div(class="story-title-container")
                   h2(class="story-title")=publishedStory.title || 'Untitled story'
                 if publishedStory.content.length
                   p(class="story-summary")=`${publishedStory.content[0].data.text.slice(0, 50)}...`
                 p(class="story-last-edited")=`Published ${moment(publishedStory.published_at).startOf('min').fromNow()}`
