html
  head
    title Your Stories
    link(rel="stylesheet", href="css/stories.css")
    link(rel="stylesheet", href="css/navbar.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400&display=swap")
    script(src="js/showErr.js")
    script(src="js/publish.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js")
    script(src="js/stories.js")
  body
    include navbar
    div(id="error" class="err-hide") error
    div(class="container")
      div(class="stories")
        h1(class="stories-title") Your Stories
        div(class="tabs")
          ul
            li(id="tab-drafts" class="tab-name selected-tab")=`Drafts ${drafts.length || ''}`
            li(id="tab-published" class="tab-name")=`Published ${published.length || ''}`
        div(id="drafts" class="tab")
          each draft in drafts
            div(class="story")
              a(href=`/edit/${draft.id}`)
                div
                  div(class="story-title-container")
                    h1(class="story-title")=draft.title || 'Untitled story'
                  if draft.content.length
                    p(class="story-summary")=`${draft.content[0].data.text.slice(0, 50)}...`
                  p(class="story-last-edited draft-last-edited" published_at=draft.last_modified)
              div
                button(class="delete-button" onclick=`deleteDraft(${draft.id})`) Delete
        div(id="published" class="hidden tab")
          each publishedStory in published
            a(href=`/story/${publishedStory.id}`)
              div(class="story")
               div
                 div(class="story-title-container")
                   h1(class="story-title")=publishedStory.title || 'Untitled story'
                 if publishedStory.content.length
                   p(class="story-summary")=`${publishedStory.content[0].data.text.slice(0, 50)}...`
                 p(class="story-last-edited publish-last-edited" published_at=publishedStory.published_at)
